streamlit

langchain
langgraph
langchain-community
langchain-core
langchain-groq
langchain-google-genai
langchain-huggingface
langchain-text-splitters
langchain-tavily

faiss-cpu
sentence-transformers
transformers
torch

tavily-python

google-generativeai

pypdf
python-dotenv

torch
torchvision